<template>
  <v-card>
    <v-tabs
      background-color="white"
      color="black"
      slider-color="#2b99ec"
    >
      <v-tab
        class="font-weight-bold"
        @click="logout"
      >
        <v-icon left>
          mdi-logout
        </v-icon>
        Logout
      </v-tab>

    </v-tabs>
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'Navigation',
    middleware: 'authenticated',
    data: () => ({

    }),
    methods: {
      async logout() {
        await this.logout();

        this.$router.push('/');
      },
      ...mapActions('modules/user', [ 'logout' ])
    }
  }

</script>

<style lang="scss">

</style>
