<template>
  <section
    class="navigation"
  >
    <v-app-bar
      height="70"
      elevation="10"
      color="white"
      app
    >
      <div class="logo">
        <nuxt-link to="/">
          <v-img
            :src="require('~/static/Logo.svg')"
          />
        </nuxt-link>
      </div>

      <v-spacer/>

      <div
        class="pages"
        v-if="!isMobile"
      >
        <v-toolbar class="pa-0">
          <v-toolbar-items>
            <v-btn
              v-for="(item, index) in items"
              :key="index"
              class="black--text font-weight-black text-capitalize title mx-2"
              :class="item.link === $route.path ? 'highlighted' : ''"
              tile
              active-class="active"
              text
              nuxt
              :to="item.link"
            >
              {{ item.title }}
            </v-btn>
          </v-toolbar-items>

        </v-toolbar>
<!--        <v-toolbar-items>-->
<!--          <v-btn-->
<!--            v-for="item in items"-->
<!--            :key="item.title"-->
<!--            text-->
<!--            tile-->
<!--          >-->
<!--            <nuxt-link-->
<!--              :to="item.link"-->
<!--            >-->
<!--              <p class="black&#45;&#45;text font-weight-bold pa-0 ma-0">{{ item.title }}</p>-->
<!--            </nuxt-link>-->
<!--          </v-btn>-->
<!--        </v-toolbar-items>-->
      </div>

      <v-spacer/>

      <div
        v-if="!isMobile && !isAuthenticated"
        class="login">
        <Login/>

        <Register/>
      </div>

      <div
        v-if="!isMobile && isAuthenticated"
        class="account"
      >
        <v-tooltip
          color="white"
          left>
          <template v-slot:activator="{ on }">
            <nuxt-link
              :to="'/account'"
            >
              <v-avatar
                color="#D3D9DC"
                size="50"
                v-on="on"
              >
                <v-icon
                  color="#474746"
                  x-large
                >
                  mdi-account
                </v-icon>
              </v-avatar>
            </nuxt-link>
          </template>
          <span class="black--text">Account</span>
        </v-tooltip>
      </div>

      <div
        v-if="isMobile"
        id="nav-icon"
      >
        <v-icon
          color="#474746"
          x-large
          @click="drawer=true"
        >mdi-menu</v-icon>
      </div>
    </v-app-bar>

    <!--Mobile menu-->

    <v-navigation-drawer
      v-if="isMobile"
      v-model="drawer"
      color="white"
      width="70%"
      absolute
      temporary
    >

      <div class="header">
        <div class="mobileLogo px-4">
<!--        TODO  Different font size in the future-->
          <v-img :src="require('~/static/mobileLogo.svg')"/>
        </div>
      </div>

      <v-list class="ml-5">
        <v-list-item-group>
          <v-list-item
            v-for="item in items"
            :key="item.title"
          >
            <v-list-item-content>
              <v-list-item-title class="black--text">-   {{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

        </v-list-item-group>
      </v-list>


      <div class="authentication">
        <div class="login py-2 pl-5">
          <Login v-if="!isAuthenticated"/>
          <v-btn @click="logout" v-if="isAuthenticated">Logout</v-btn>
        </div>
        <div class="register py-2 pr-5">
          <Register v-if="!isAuthenticated"/>
        </div>
      </div>

    </v-navigation-drawer>

  </section>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    name: 'Navigation',
    data: () => ({
      isMounted: false,
      drawer: null,
      items: [
        {
          title: 'Home',
          link: '/',
        },
        {
          title: 'News',
          link: '/news'
        },
        {
          title: 'Discover',
          link: '/discover'
        }
      ]
    }),
    mounted() {
      this.isMounted = true;
    },
    computed: {
      isMobile() {
        return this.isMounted && this.$vuetify.breakpoint.mdAndDown;
      },
      isAuthenticated() {
        return this.$store.getters['modules/user/isAuthenticated'];
      }
    },
    methods: {
      async logout() {
        await this.logout();

        this.$router.push('/');
      },
      ...mapActions('modules/user', [ 'logout' ])
    }
  }
</script>

<style lang="scss">

  .navigation {
    .v-app-bar {

      .v-toolbar__content {
        padding-top: 0;
        padding-bottom: 0;
      }

      .logo {
        height: 100%;
        .v-image {
          height: 100%;
          max-width: 40%;

          transition: transform .8s ease-in-out;

          &:hover {
            transform: rotate(720deg);
          }
        }
      }

      .pages {

        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        .v-toolbar {
          background-color: transparent !important;
          box-shadow: none !important;

          .v-toolbar__items {

           /* <!--.active {-->
            <!--  border-bottom: 4px solid #6B96CF;-->
            <!--  padding-bottom: -4px;-->
            <!--}-->*/

            > a {
              position: relative;

              &:before {
                content: '';
                height: 4px;
                width: 0;
                border-radius: 2px;
                background: #6B96CF;
                opacity: 0;

                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                top: auto;

                transition: .3s opacity, .3s width;
              }

              .v-btn--active {
                border: 4px solid #6B96CF;
              }

              &.highlighted, &:hover {
                &:before {
                  opacity: 1;
                  width: 100%;
                }
              }
            }
          }
              /*.v-toolbar__content {*/
          /*  padding: 0px;*/

          /*  a {*/
          /*    text-decoration: none !important;*/
          /*    color: black;*/
          /*  }*/
          /*  .v-btn {*/
          /*    //color: #474746;*/
          /*  }*/
          /*}*/
        }
      }

      .account {
        > a:link {
          text-decoration: none;
        }
      }
    }

    .v-navigation-drawer {
      .header{
        position: relative;
        height: 55px;

        .mobileLogo {
          height: 100%;
        }
      }

      .authentication {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;

        .login {
          width: 50%;
          float: left;
        }

        .register {
          width: 50%;
          float: right;
        }
      }
    }

  }

</style>
