.dropzone.vue-dropzone {
  padding: 0;
  min-height: 90px;
  position: relative;
}

.dropzone-preview {
  padding: $grid-gutter / 2;

  + .dropzone-preview {
    &:last-child {
      margin-bottom: 4rem;

      &:after {
        pointer-events: none;
        cursor: pointer;
        content: 'Click or drag files here';
        display: block;
        width: 100%;
        line-height: 4rem;
        text-align: center;

        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
      }

      &:nth-child(even) {
        &:after {
          background: map-get($grey, 'lighten-4');
        }
      }
    }
  }

  > .item {
    display: flex;
    width: 100%;
  }

  &:nth-child(odd) {
    background: map-get($grey, 'lighten-4');
  }

  .filesize {
    font-size: .75rem;
    color: map-get($grey, 'darken-1');
  }

  .filename {
    color: map-get($grey, 'darken-3')
  }

  .error-message {
    color: map-get($red, 'darken-1');
  }

  .remove {
    margin-left: auto;
    padding-left: $grid-gutter / 2;
    white-space: nowrap;

    &[data-dz-remove] {
      cursor: pointer;
    }

    > span {
      @media (max-width: 1200px) {
        display: none;
      }
    }

    > i {
      position: relative;
      top: 1px;
      margin-left: $grid-gutter / 4;
      transition: color .2s;
    }

    &:hover {
      > i {
        color: map-get($red, 'darken-1')
      }
    }
  }

  img {
    width: 100%;
    max-width: 100px;
    height: auto !important;  // Needed to override dropzone style
    margin-right: $grid-gutter / 2;

    &:not([src]) {
      display: none;
    }
  }
}
