<template>
  <v-overlay
    :value="Object.entries(uploadingFiles).length"
    z-index="10000"
  >
    <v-row
      align="center"
      justify="space-between"
    >
      <v-col>
        Saving..
      </v-col>
      <v-col>
        <v-progress-circular
          :width="3"
          color="primary"
          indeterminate
        />
      </v-col>
    </v-row>
    <v-card>
      <div
        class="pa-3"
      >
        Upload file{{ uploadingFiles === 1 ? '' : 's' }}:
      </div>
      <template
        v-for="(file, index) in uploadingFiles"
      >
        <v-list-item
          v-if="file"
          :key="index"
        >
          <v-list-item-content>
            <p class="mb-1">
              {{ file.name }}
            </p>
            <v-progress-linear
              :value="file.progress"
              color="primary"
              rounded
              height="6"
            />
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-card>
  </v-overlay>
</template>

<script>
  import { storage } from '@/plugins/firebase'
  let i = 0

  export default {
    name: 'FileUpload',
    data: () => ({
      uploadingFiles: [],
    }),
    methods: {
      uploadHandler(file, ref) {
        const uploadTask = ref.put(file)
        const index = i
        i++

        this.$set(
          this.uploadingFiles,
          index,
          Object.assign(file, {progress: 0})
        )

        return new Promise((resolve, reject) => {
          uploadTask.on('state_changed',
            (snapshot) => {
              const progress = Math.round((snapshot.bytesTransferred / snapshot.totalBytes) * 100)
              this.$set(
                this.uploadingFiles,
                index,
                Object.assign(this.uploadingFiles[index], { progress })
              )
            },
            function error(err) {
              console.error('Upload error', err)
              reject(err)
            },
            async() => {
              resolve({
                url: await uploadTask.snapshot.ref.getDownloadURL(),
                fullPath: ref.fullPath,
                name: file.name || '',
                size: file.size || '',
                type: file.type || ''
              })
            }
          );
        });
      },
      async uploadFiles (files, storageRefBase) {

        if (!storageRefBase) {
          return null
        }

        if (!files) { return null }

        const uploadedFiles = []
        await Promise.all(
          files.map((file) => {
            return new Promise((resolve, reject) => {
              const ref = storage.ref(`${storageRefBase}/${file.name}`)
              this.uploadHandler(file, ref)
                .then((uploadedFile) => {
                  uploadedFiles.push(uploadedFile)
                  resolve(uploadedFile)
                })
                .catch((e) => {
                  reject(e)
                })
            })
          })
        )

        return uploadedFiles.length > 0 ? uploadedFiles : null
      }
    }
  }
</script>
