<template>
  <div
  v-swiper:swiper="swiperOption"
  class="swiper pa-0 ma-0"
  >
    <div class="swiper-wrapper">
      <div
        class="swiper-slide"
        v-for="(item, index) in items"
        :key="index"
      >
        <v-img
          :src="item.link"
          aspect-ratio="1"
        />
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Header',
    data: () => ({
      items: [
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/dino-reichmuth-kk3W5-0b6e0-unsplash.jpg?alt=media&token=76741304-93f7-485e-b146-6a81130a3c23',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/the-honest-company-MCUOp3o4dgk-unsplash.jpg?alt=media&token=6dcc281a-d992-4479-abbd-a293dbb2803a',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/alexander-dummer-aS4Duj2j7r4-unsplash.jpg?alt=media&token=32fb87fc-e546-4da5-8bc8-5eb79ff3d0b2',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/foodism360-HhGDv3FRtKI-unsplash.jpg?alt=media&token=91da9724-e3b9-4415-836b-53fcbd598474',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/image2.jpg?alt=media&token=cc01b0b1-564e-4763-ae92-7c1990aa91d4',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://firebasestorage.googleapis.com/v0/b/shutterminds-67dbf.appspot.com/o/alexander-dummer-aS4Duj2j7r4-unsplash.jpg?alt=media&token=32fb87fc-e546-4da5-8bc8-5eb79ff3d0b2',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          text: 'Dit is een test image',
        },
        {
          title: 'Test image',
          link: 'https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg',
          text: 'Dit is een test image',
        },
      ],
      swiperOption: {
        speed: 1000,
        loop: true,
        lazy: {
          loadPrevNext: true
        },
        preloadImages: false,
        effect: 'fade',
        fadeEffect: {
          crossFade: true
        },
        watchSlidesVisibility: true,
        slidesPerView: 'auto',
        centeredSlides: true,
        spaceBetween: 0,
        autoplay: {
          delay: 5000
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }


    }),
    mounted() {
      this.items.length <= 1 ?
        this.swiper.autoplay.stop() :
        this.swiper.autoplay.start();


    }
  }
</script>

<style scoped lang="scss">

  /*.swiper {*/
  /*  //position: relative;*/
  /*  width: 100vw;*/
  /*  height: 100vh;*/
  /*  .swiper-wrapper {*/
  /*    height: 100vh;*/

  /*    .swiper-slide {*/
  /*      height: 100%;*/

  /*      //overflow: hidden;*/

  /*      .v-image {*/
  /*        height: 100%;*/
  /*        width: 100%;*/
  /*      }*/
  /*    }*/
  /*  }*/
  /*}*/

  .swiper {
    width: 100vw;

    .swiper-wrapper
    {

      .swiper-slide
      {
        height: 92.5vh;
        width: 100vw !important;

        position: relative;

        overflow: hidden;

        .v-image
        {
          height: 100vh;
          width: 100%;

          position: relative;

          background-size: cover;
          background-position: 50% 50%;

          &:after
          {
            content: '';

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%);
          }
        }
      }
    }
  }



</style>
