<template>
  <v-dialog
    v-model="dialog"
    width="500"
    persistent
  >
    <template v-slot:activator="{ on }">
      <v-btn
        v-on="on"
        rounded
        color="#6B96CF"
        class="loginButton text-capitalize font-weight-bold pb-1 subtitle-1"
      >
        Login
      </v-btn>
    </template>

    <v-card light>
      <v-icon
        class="pa-2"
        color="#474746"
        large
        @click="dialog = false"
      >
        mdi-close
      </v-icon>

      <v-card-title class="display-1 font-weight-bold py-3 mb-5">
        <p class="pa-0 ma-0">Sign in</p>
      </v-card-title>

      <v-card-text>
        <v-form
          ref="form"
          lazy-validation
          @submit.prevent="submit"
        >
          <v-row>
            <v-col
              class="py-0"
              cols="12"
            >
              <v-text-field
                ref="email"
                v-model="email"
                label="E-mail"
                required
                autofocus
              />

              <v-text-field
                ref="password"
                type="password"
                v-model="password"
                label="Password"
                required
                autofocus
              />
            </v-col>

            <v-col
              class="pa-0"
              cols="5"
            >
              <nuxt-link to="/forgot-password">
                <v-card-subtitle class="pb-0">
                  Forgot password?
                </v-card-subtitle>
                <v-card-subtitle class="pt-1">
                  Dont have an account?
                </v-card-subtitle>
              </nuxt-link>
            </v-col>

            <v-col
              class="py-0"
              cols="3"
              offset="4"
            >
              <v-btn
                class="font-weight-bold mt-2"
                type="submit"
                outlined
                rounded
                color="#474746"
                dark
                block
              >
                Sign in
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapActions } from 'vuex';
  import { auth } from '@/plugins/firebase';

  export default {
    name: 'Login',
    data: () => ({
      dialog: false,
      email: '',
      password: '',
      loggingIn: false,
    }),
    mounted() {
    },
    methods: {
      ...mapActions('modules/user', ['login']),
      submit() {
        this.loggingIn = true;

        console.log(this.email, this.password);

        auth.signInWithEmailAndPassword(this.email, this.password)
        .then((res) => {
            console.log(res.user);
            return this.login(res.user);
        }).catch((error) => {
          console.error(error);
        })
      }
    }
  }
</script>

<style lang="scss">


  .v-dialog {
    .v-card {
      position: relative;
      .v-icon {
        position: absolute;
        top: 0;
        right: 10px;
      }

      .v-card__title {
        /*> p {*/
        /*  width: 100%;*/
        /*  border-bottom: 3px solid #6B96CF;*/
        /*}*/
        //border-bottom: 2px solid #474746;
        box-shadow: -2px 10px 32px -13px rgba(0,0,0,0.75);
        background: linear-gradient(to right, #6b96cf 0%,#71a8d6 49%,#599bd1 99%);
        color: white;
      }

      .v-card__text {
        form {
          .row {
            .col {
              .v-input {
                font-family: acumin-pro, sans-serif !important;
                font-style: normal;
                font-weight: bold;

                color: #474746 !important;
                caret-color: #474746 !important;

                .v-label {
                  color: #474746 !important;
                }
              }

              a {
                text-decoration: none;
                .v-card__subtitle {
                  color: #6B96CF;
                }
              }
            }
          }
        }
      }
    }
  }
</style>
