<template>
  <v-dialog
    v-model="dialog"
    width="500"
    persistent
  >
    <template v-slot:activator="{ on }">
      <v-btn
        v-on="on"
        rounded
        outlined
        color="#6B96CF"
        class="loginButton text-capitalize font-weight-bold pb-1 subtitle-1"
      >
        Sign up
      </v-btn>
    </template>

    <v-card light>
      <v-icon
        class="pa-2"
        color="#474746"
        large
        @click="dialog = false"
      >
        mdi-close
      </v-icon>

      <v-card-title class="display-1 font-weight-bold py-3 mb-5">
        <p class="pa-0 ma-0">Sign up</p>
      </v-card-title>

      <v-card-text>
        <v-form
          ref="form"
          lazy-validation
          @submit.prevent="submit"
        >
          <v-row>
            <v-col
              class="py-0"
              cols="12"
            >

              <v-text-field
                ref="username"
                v-model="username"
                label="Username"
                required
                autofocus
              />

              <v-text-field
                v-model="email"
                class="my-1"
                :error-messages="emailErrors"
                label="E-mail"
                required
                outline
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              />

              <v-text-field
                v-model="password"
                class="my-1"
                :error-messages="passwordErrors"
                :type="'password'"
                label="Password"
                required
                outline
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              />

              <v-text-field
                v-model="$v.confirmPassword.$model"
                class="my-1"
                :type="'password'"
                :error-messages="confirmPasswordErrors"
                label="Repeat password"
                required
                outline
              />
              <v-alert
                v-if="errorMessage"
                dismissible
                type="error"
              >
                {{ errorMessage }}
              </v-alert>


            </v-col>

            <v-col
              class="py-0"
              cols="3"
              offset="9"
            >
              <v-btn
                class="font-weight-bold mt-2"
                type="submit"
                outlined
                rounded
                color="#474746"
                dark
                block
              >
                Sign up
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
  import { validationMixin } from 'vuelidate';
  import { required, email, minLength, sameAs} from 'vuelidate/lib/validators';
  import firebase from 'firebase';


  export default {
    name: 'Register',
    mixins: [validationMixin],
    validations: {
      email: {
        required,
        email
      },
      password: {
        required,
        minLength: minLength(4)
      },
      confirmPassword: {
        sameAsPassword: sameAs('password')
      }
    },
    data: () => ({
      dialog: false,
      username: '',
      email: '',
      password: '',
      confirmPassword: '',
      errorMessage: null,
      signingUp: false,
    }),
    computed: {
      emailErrors() {
        const errors = [];
        if (!this.$v.email.$dirty) {
          return errors;
        }
        !this.$v.email.email && errors.push('Must be a valid e-mail adress');
        !this.$v.email.required && errors.push('E-mail is required');
        return errors;
      },

      passwordErrors() {
        const errors = [];
        if (!this.$v.password.$dirty) {
          return errors;
        }
        !this.$v.password.minLength && errors.push('Password must be at least 4 characters.');
        !this.$v.password.required && errors.push('Password is required.');
        return errors;
      },
      confirmPasswordErrors() {
        if (!this.$v.confirmPassword.sameAsPassword) {
          return 'Passwords must match.';
        } else {
          return null;
        }
      }

    },
    methods: {
      submit() {
        this.$v.$touch();
        this.errorMessage = null;
        this.signingUp = true;

        if (!this.$v.$invalid) {
          firebase.auth().createUserWithEmailAndPassword(this.email, this.password)
          .catch(function(error) {
            console.log(error);
          });
        }
      }
    }
  }
</script>

<style lang="scss">

</style>
