<!--<template>-->
<!--  <v-card class="theme&#45;&#45;light">-->
<!--    <h1>Test</h1>-->
<!--  </v-card>-->
<!--</template>-->

<template>
  <v-row justify="center">
    <v-col
      class="x12"
      sm="8"
      md="6"
    >
      <v-card>
        <v-card-text>
          <h1 class="pb-3">New Photo</h1>
          <hr>

          <v-form
            ref="form"
            class="py-3"
            @submit.prevent="submit"

          >

            <v-text-field
              v-model="values.title"
              label="Title"
              required
              :rules="[v => !!v || 'Title is required']"
              counter
              maxlength="110"
            />


            <header>Photo: </header>
            <dropzone
              id="image"
              ref="image"
              :options="dropzoneOptions"
              :destroy-dropzone="true"
              @vdropzone-max-files-exceeded="overwriteFile($event, 'image')"
            >
              Click or drag files here
            </dropzone>

            <v-btn
              :loading="saving"
              color="success"
              type="submit"
            >
              Submit
            </v-btn>

          </v-form>
        </v-card-text>
      </v-card>
    </v-col>

    <file-uploader ref="file-uploader"/>
  </v-row>
</template>


<script>
  import Dropzone from 'nuxt-dropzone'
  import dropzoneOptions from '@/assets/dropzone-options'
  import slugify from '@sindresorhus/slugify'
  import fileUploader from '@/components/fileUploader'

  const collection = firestore.collection('photos');

  import { firestore } from '@/plugins/firebase'
  import { mapGetters } from 'vuex'

  const files = {
    image: {
      multiple: false,
    },
  };

  export default {
    name: 'newPhoto',
    middleware: 'authenticated',
    components: { Dropzone, fileUploader },
    data: () => ({
      values: {
        title: '',
      },
      saving: false,
      dropzoneOptions
    }),
    computed: {
      ...mapGetters('modules/user', [
        'user'
      ])
    },
      methods: {
      overwriteFile(file, key) {
        this.$refs[key].dropzone.removeAllFiles();
        this.$refs[key].dropzone.addFile(file);
      },
      async submit() {

        if (!this.values.title) {
          //this.snackbar = true;
          //this.snackbarMessage = 'A title is required.';
          console.log('fill in title');
          return
        }

        this.saving = true;

        const slug = slugify(this.values.title);

        const doc = await collection.doc(slug).get();

        if (doc.exists) {
          //this.snackbar = true;
          //this.snackbarMessage = 'The given title is already in use, please choose an other one.';
          console.log('title taken');
          this.saving = false;
          return
        }


        // await Promise.all(
        //   (Object.keys(files)).map((key) => {
        //     return new Promise((resolve, reject) => {
        //       if (!this.values[key]) { reject() }
        //       if (!this.$refs[key] || !this.$refs[key].dropzone) { resolve(this.values[key]) }
        //
        //       console.log(this.$refs[key].dropzone.files);
        //       this.$refs['file-uploader'].uploadFiles(
        //         this.$refs[key].dropzone.files,
        //         `/photos/${slug}`
        //       ).then((res) => {
        //         if (!files[key].multiple && res !== null && res.length >= 1) {
        //           this.values[key] = res[0]
        //         } else {
        //           this.values[key] = res
        //         }
        //
        //         resolve(res)
        //       })
        //     })
        //   })
        // );
        //
        // const item = Object.assign(this.values, {
        //   test: 'text',
        // });
        //
        // console.log(item);
        //
        // collection.doc(slug).set(item)
        // .then(() => {
        //   console.log('success');
        // })
        // .catch((error) => {
        //   console.error(error);
        // })
      }
    }
  }
</script>

<style lang="scss">

  .container {
    .row {
      .col {
        .v-card {

        }
      }
    }
  }
</style>
