<template>
  <v-app dark>
    <Navigation/>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

  </v-app>
</template>

<script>
  import Navigation from '~/components/layout/Navigation'

export default {
  components: {Navigation},
  data () {
    return {
    }
  }
}
</script>

<style lang="scss">

  h1 ,h2 ,h3, h4, h5, h6, p {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  #app {
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;

    background-color: #D3D9DC;

    > div {
      .v-content {
       //padding-top: 71px !important;
        .v-content__wrap {
          .container {
            padding: 0 !important;
            margin: 0 !important;
            max-width: none !important;
          }
        }
      }
    }
  }


</style>
