<template>
  <section>
    <v-row>
      <v-col
        class="header pa-0"
        cols="12"
        sm="12"
        lg="6"
      >
        <Header v-if="!isMobile"/>
      </v-col>
    </v-row>
  </section>
</template>

<script>
  import Header from '@/components/Header';

export default {
  name: 'Homepage',
  data: () => ({
    isMounted: false,
  }),
  components: { Header },
  head() {
    return {
      title: 'Shutterminds - For photographers'
    }
  },
  mounted() {
    this.isMounted = true;
  },
  computed: {
    isMobile() {
      return this.isMounted && this.$vuetify.breakpoint.mdAndDown;
    },
  }

}
</script>

<style>

</style>
